{% if products is defined %}
        {% set elementStart = '<a class="Card_info" href="'~path('product_show', {'id':product.id})~'">' %}
        {% set elementEnd = '</a>' %}
        {% set classIfNotOnly = '' %}
    {% else %}
        {% set elementStart = '<div class="Card_info">' %}
        {% set elementEnd = '</div>' %}
        {% set classIfNotOnly = '-only' %}
{% endif %}


<div class="Card {{ classIfNotOnly }}">
    <div class="Card_image">
        <img class="Image" src="/imagesProduit/{{ product.imageName }}">
    </div>
    {{ elementStart|raw }}
        <p class="Card_title">
            {{ product.name }}
        </p>
        <div class="Card_description">
            {{ product.description }}
        </div>
        <p class="Card_price">
            {{ product.price|price }}
        </p>
    {{ elementEnd|raw }}
</div>