<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="LayoutContainer">
    <header class="Header LayoutContainer_header">
        <p class="Brand -big -sober Header_brand">Telem</p>
        <form class="Search Header_banner" action="{{ path('product_search') }}" method="post">
            <input class="Search_input" type="text" name="searchProduct" placeholder="rechercher un produit">
            <button class="Search_button" type="submit"> &#x1F50e</button>
        </form>
    </header>
    <aside class="MainMenu LayoutContainer_mainMenu">
        Menu
    </aside>
    <main class="MainContent LayoutContainer_mainContent">
        {# {{ dump (app.flashes) }} #}
        {%  for label,messages in app.flashes %}
            {% for message in messages %}
                <p class="Message -{{ label }}">{{ message }}</p>
            {% endfor %}
        {% endfor %}

        <a class="Button" href="">Gérer</a>
        <a class="Button -reverse" href="">Gérer</a>
<hr>

        <a class="Button -link" href="">Gérer</a>
        <a class="Button -link -reverse" href="">Gérer</a>
<hr>
        <a class="Button -no-danger" href="">Gérer</a>
        <a class="Button -no-danger -reverse" href="">Gérer</a>
        <hr>
        <a class="Button -danger" href="">Gérer</a>
        <a class="Button -danger -reverse" href="">Gérer</a>


        {% block body %}
            <h1> Hello World ! </h1>
            <p> Je suis du contenu dans le template base.html.twig </p>
        {% endblock %}
    </main>
    <footer class="Footer LayoutContainer_footer">
        ici un pied de page
    </footer>
    </body>
</html>
