<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <h1> Hello World ! </h1>

    {% for product in products %}
    <ul>
       <li> nom du produit : {{ product.name }}</li>

        {%  set description = product.description %}
        {% if product.description is not empty %}
        <li> description du produit : {{ description }}</li>
        {% endif %}

        <li> quantite du produit : {{ product.quantityInStock }}</li>
        <li> prix du produit : {{ product.price|price }} </li>
        <li> <img src="/build/imagesProduit/{{ product.imageName }}"> </li>
        <li> Ajouté au catalogue le : {{ product.createdAt|dateFr }}</li>
        <li> <a href="{{ path('product_show', {'id':product.id}) }}"> Voir la fiche </a> </li>
    </ul>
        {% else %}
        <p> Il n'y a aucun produit</p>
    {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
